nav {
  .nav-item {
    border-left: 4px solid transparent;
    &.active {
      border-left: 0.25rem solid $primary;
      a {
        color: $primary;
      }
    }
  }
}
.assignment {
  &__content {
    height: calc(100vh - 92.8px - 32px);
    min-height: 400px;
  }
  &__ul {
    max-height: calc(100vh - 92.8px - 26px - 72.2px - 38px - 64px);
    min-height: 240px;
    overflow-y: scroll;
  }
}
