<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="d-flex">
    <div class="d-flex flex-column justify-content-between bg-light p-4d5 w-25 vh-100">
      <div>
        <a href="index.html"><img src="./assets/images/logo-ANSWER.svg" alt="logo" class="mb-4d5"></a>
        <nav class="ms-n4d5">
          <ul class="list-unstyled">
            <li class="nav-item mb-4">
              <a href="#" class="fw-bold ps-4d5 py-1">
                <span class="material-icons me-3">assessment</span>
                Dashboard
              </a>
            </li>
            <li class="nav-item mb-4">
              <a href="#" class="fw-bold ps-4d5 py-1">
                <span class="material-icons me-3">forum</span>
                Question
              </a>
            </li>
            <li class="nav-item mb-4 index">
              <a href="index.html" class="fw-bold ps-4d5 py-1">
                <span class="material-icons me-3">assignment</span>
                Assignment
              </a>
            </li>
            <li class="nav-item mb-4">
              <a href="#" class="fw-bold ps-4d5 py-1">
                <span class="material-icons me-3">video_library</span>
                Course
              </a>
            </li>
            <li class="nav-item mb-4 admin">
              <a href="admin.html" class="fw-bold ps-4d5 py-1">
                <span class="material-icons me-3">people_alt</span>
                Admin
              </a>
            </li>
            <li class="nav-item mb-4">
              <a href="#" class="fw-bold ps-4d5 py-1">
                <span class="material-icons me-3">settings</span>
                Settings
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-flex align-items-center">
        <img src="./assets/images/andychen.jpeg" alt="andy chen" class="avatar rounded-circle">
        <div class="ms-3">
          <p class="fw-bold mb-1">Andy Chen</p>
          <span class="text-secondary fs-7">andy0401@mail.com</span>
        </div>
      </div>
    </div>
    <%- contents %>
  </div>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>